.moviepage{
    background:linear-gradient(to right,#708492, #f88e245f);
    /* background: url(https://source.unsplash.com/1600x900/?movie); */
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.moviecontent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 20px 0px;
}
.movieimage{
    width: 40vw;
    height: 75vh;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px black;
}
.moviedetails{
    padding: 20px 0 0 0;
}
.moviename{
    font-size: 4vw;
    color: #0B2D36;
    font-weight: bold;
}
.movierating{
    margin-top: 30px;
    font-size: 3vw;
    font-weight: bold;
    color: #0B2D36;
}
.movielanguage{
    margin-top: 30px;
    font-size: 2.5vw;
    font-weight: bold;
    color: #0B2D36;
}
.extradetails{
    margin-top: 20px;
    display: flex;
    font-weight: bold;
    color: #0B2D36;
    font-size: 2.5vw;
}
.movieschaduled{
    font-size: 2vw;
    margin-top: 30px;
    font-weight: bold;
    color: #0B2D36;
}
.moviesummary{
    margin: 10px 30px;
    font-size: 1rem;
    font-weight: bold;
    color: #0B2D36;
}
.buyticketnow{
    background-color: #0B2D36;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    margin: 0;
    border-radius: 5px;
    margin: 15px 0px;
    width: 20vw;
    font-size: 1.5vw;
}
.buyticketnow:hover{
    background:linear-gradient(to left,#708492, #f88e245f);
    transition: 1s;
    color: #0B2D36;
}
@media only screen and (max-width: 550px) {
    .movieimage{
        width: 40vw;
        height: 55vh;
        border-radius: 10px;
        box-shadow: 0 0 20px 0px black;
    }
    .buyticketnow{
        width: 30vw;
    }
    .moviesummary{
        font-size: 0.7rem;
    }
  }